page-camera-register {
    body{
        background-color: #0077b8;
        font-family: Poppins, sans-serif;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .title{
        color: white;
        font-weight: 600;
        margin-top: 70px;
    }
    h4{
        color: white;
        margin-top: 100px;
    }
    #cameraRegister{
        color: #243841;
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        height: 60px;
        width: 200px;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 600;
    }
}
