
<div class="formWrapper">
  <div class="formBox">
    <input id="fullName" type="text" placeholder="Full Name">
  </div>
  <div class="formBox">
    <input id="email" type="email" placeholder="Email">
  </div>
  <div class="formBox">
    <input id="school" type="text" placeholder="School">
  </div>
  <div class="formBox">
    <input id="studentPhone" type="phone" placeholder="Personal Phone Number">
  </div>
  <div class="formBox">
    <input id="parentPhone" type="phone" placeholder="Parent Phone Number">
  </div>
</div>
<div class="submit">
  <button id="submitInfo">Submit</button>
</div>
